.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(108,154,139, 0.40), rgba(84,11,14,0.40)),url('../public/home-bg2.png');
  background-position: center;
  background-repeat: no-repeat;
}

.errorPage {
  height: 100%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  position: static;
  display: block;
}

.error {
  background-image: linear-gradient(rgba(108,154,139, 0.40), rgba(84,11,14,0.40)),url('../public/home-bg2.png');
  height: 100vh;
  background-size: cover;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Patrick Hand, cursive;
}

.button{
  padding: .25rem 2rem 0.25rem 2rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: center;
  text-align: center;
}

.loginButton {
  padding: .25rem 2rem 0.25rem 2rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover, .loginButton:hover {
  background-color: #FF7F11;
}

.loginFields {
  display: none;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #540B0E;
  text-decoration: none;
}


.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #540B0E;
}

.title,
.description {
  text-align: center;
  color: #001011;
}

.code {
/*  background: #fafafa;*/
/*  border-radius: 5px;*/
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, Patrick Hand, cursive, monospace;
}

.logo {
  height: 2rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
