.loginPage{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(108,154,139, 0.40), rgba(84,11,14,0.40)),url('../public/home-bg2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Patrick Hand, cursive;
  margin-bottom: 2rem;
}

.submitBtn {
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: #001011;
	text-align: center;
	align-items: center;
	margin-left: 40%;
	margin-right: 40%;
}

.GgleBtn {
	margin-left: 25%;
	margin-right: 25%;
}

.registerForm {
	background-image: linear-gradient(rgba(0,16,17,.6), rgba(0,16,17,.7));
	padding: 1rem;
	margin: 1rem 0 1rem 0;
	border-radius: 15px;
	color: white;
}

.loginForm {
	background-image: linear-gradient(rgba(0,16,17,.6), rgba(0,16,17,.7));
	border-radius: 15px;
	padding: 1rem;
	margin: 1rem 0 1rem 0;
	color: white;
	position: center;
	align-items: center;

}