.button{
  padding: .25rem 2rem 0.25rem 2rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover, .loginButton:hover {
  background-color: #FF7F11;
}

.profilePage{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(108,154,139, 0.40), rgba(84,11,14,0.40)),url('../public/home-bg2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Patrick Hand, cursive;
  margin-bottom: 2rem;
}

.profileSummary {
  border-radius: 15px;
  background-image: linear-gradient(rgba(108,154,139, 0.30), rgba(84,11,14,0.30));
  padding: 1rem;
}

.donut {
  padding-bottom: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(108,154,139, 0.40), rgba(84,11,14,0.40));
}