.trackerPage{
  min-height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(rgba(108,154,139, 0.40), rgba(84,11,14,0.40)),url('../public/home-bg2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Patrick Hand, cursive;
}

.welcome {
	margin-top: 1rem;
	padding: 1rem;
}

.transactionList {
	padding: 1rem;
	background-image: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.5));
	color: #001011;
	flex-wrap: wrap;
	text-align: center;
}

.button {
  padding: .25rem 2rem 0.25rem 2rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginButton {
  padding: .25rem 2rem 0.25rem 2rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover, .loginButton:hover {
  background-color: #FF7F11;
}

.detailPane {
  background-image: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.5));
  border-radius: 15px;
  margin-bottom: 4rem;
  padding: 1rem;
}